

   body {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 1em auto 4em auto;
    /*width: 960px;*/
    width: 80%;
   }

   h1 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: -2px;
    margin: .3em 0 .1em 0;
   }

   h2 {
    margin-top: 2em;
   }

   h1, h2 {
    text-rendering: optimizeLegibility;
   }

   h2 a {
    color: #ccc;
    left: -20px;
    position: absolute;
    width: 740px;
   }

   footer {
    font-size: small;
    margin-top: 8em;
   }

   header aside {
    margin-top: 20px;
   }

   header aside, footer aside {
    color: #636363;
    text-align: right;
   }

   aside {
 float:right;
 display:inline;
 font-size: small;
   }
   .attribution {
    font-size: small;
    margin-bottom: 2em;
   }

   body > p, li > p {
    line-height: 1.5em;
   }

   body > p {
    width: 720px;
   }

   body > blockquote {
    width: 640px;
   }

   li {
    width: 680px;
   }

   pre, code, textarea {
    font-family: "Menlo", monospace;
   }

   code {
    line-height: 1em;
   }

   textarea {
    font-size: 100%;
   }

   body > pre {
    border-left: solid 2px #ccc;
    padding-left: 18px;
    margin: 2em 0 2em -20px;
   }

   .html .value, .javascript .string, .javascript .regexp {
    color: #756bb1;
   }

   .html .tag, .css .tag, .javascript .keyword {
    color: #3182bd;
   }

   .comment {
    color: #636363;
   }

   .html .doctype, .javascript .number {
    color: #31a354;
   }

   .html .attribute, .css .attribute, .javascript .class, .javascript .special {
    color: #e6550d;
   }

   svg {
    font: 10px sans-serif;
   }

   .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
   }

   sup, sub {
    line-height: 0;
   }

   q:before, blockquote:before {
    content: "?";
   }

   q:after, blockquote:after {
    content: "?";
   }

   blockquote:before {
    position: absolute;
    left: 2em;
   }

   blockquote:after {
    position: absolute;
   }


   #chart {
    height: 600px;
   }
   .node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
   }
   .node text {
    pointer-events: all;
    text-shadow: 0 1px 0 #fff;
   }
   .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
   }
   .link:hover {
    stroke-opacity: .5;
   }

   circle.node-dot {
    fill: DarkSlateGray;
    stroke: SlateGray;
    stroke-width: 1px;
   }


   line.link {
    fill: none;
    stroke: SlateGray;
    stroke-width: 1.5px;
   }

   marker#defaultMarker {
    fill: SlateGray;
   }

   line.link.defaultMarker {
    stroke: SlateGray;
   }

   circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
   }

   text {
    pointer-events: all;
   }

   text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
   }

   #chart {
       width: 100%;
       height: 100%;
   }
   #logo {
       text-align: center;
   }
   #navi {
   	width: 100%;
   	font-family: 'Open Sans', sans-serif;
   	font-size: 18px;
   	float: left;
   	margin: 0 0 1em 0;
   	padding: 0;
   	background-color: #f2f2f2;
   	border-bottom: 1px solid #ccc;
   	text-align: center;
   	}
   #navi ul {
   	list-style: none;
   	margin: 0 auto;
   	padding: 0;
   	}
   #navi li {
   	display: inline;
   	font-size: 18px;
   	}
   #navi li a {
   	padding: 2px 15px;
   	text-decoration: none;
   	font-weight: bold;
   	color: #3f3838;
       -webkit-transition-property: color, background;
       -webkit-transition-duration: 0.5s, 0.5s;
   	}
   #navi li a:hover {
   	background-color: #dddddd;
   	}
   body#home a#homeNav {
       background-color: #dddddd;
   }
   #p1 {
       font-size: 25px;
       font-weight:bold;
       text-align: center;
       padding-bottom: 13px;
   }
   #p2 {
       font-size: 20px;
       text-align: left;
       padding-bottom: 15px;
   }
   legend {
       color: #3f3838;
       font-family: 'Open Sans', sans-serif;
       text-align: left;
   }
   label {
       text-align:left;
       font-family: 'Open Sans', sans-serif;
   }
   footer {
       text-align:center;
       color: #b7aeae;
       font-size: 12px;
       padding-bottom: 10px;
   }
   footer p {
       font-weight: bold;
       padding-top: 5px;
   }
   input[type="button"] {
       text-align:left;
   	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
   	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
   	box-shadow:inset 0px 1px 0px 0px #ffffff;
   	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
   	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
   	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
   	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
   	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
   	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
   	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
   	background-color:#ededed;
   	-moz-border-radius:6px;
   	-webkit-border-radius:6px;
   	border-radius:6px;
   	border:1px solid #dcdcdc;
   	display:inline-block;
   	cursor:pointer;
   	color:#777777;
   	font-family: 'Open Sans', sans-serif;
   	font-size:15px;
   	font-weight:bold;
   	padding:6px 24px;
   	text-decoration:none;
   	text-shadow:0px 1px 0px #ffffff;
   }
   input[type="button"]:hover {
   	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
   	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
   	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
   	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
   	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
   	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
   	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
   	background-color:#dfdfdf;
   	text-align:left;
   }
   input[type="button"]:active {
   	position:relative;
   	top:1px;
   	text-align:left;
   }

   #splitDiagrams {
       padding-top: 10px;
       padding-left: 15px;
       padding-bottom: 10px;
       font-family: 'Open Sans', sans-serif;
       font-size: 14px;
       color: #30b1d9;
   }
   .urlContainer div:nth-child(1){
       float: left;
   }
   .urlContainer div:nth-child(2){
       padding-left: 5px;
       padding-bottom: 10px;
       float: left;
   }

   .originalRequest:hover{color: #970E11}
   A:link {text-decoration: none}
   A:visited {text-decoration: none}
   A:active {text-decoration: none}
   A:hover {text-decoration: none}

