body {
 text-align: center;
 }
#navi {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	text-align: center;
	}
#navi ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	}
#navi li {
	display: inline;
	font-size: 18px;
	}
#navi li a {
	padding: 2px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #3f3838;
    -webkit-transition-property: color, background;
    -webkit-transition-duration: 0.5s, 0.5s;
	}
#navi li a:hover {
	background-color: #dddddd;
	}
body#aboutUS a#aboutUsLink {
    background-color: #dddddd;
}
#allAboutContent {
    width:65%;
    margin:0 auto;
}
#aboutWCHead, #aboutUsHead {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #534d4d;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#aboutText {
    padding-top: 10px;
    text-align: left;
    font-size: 18px;
    color: #534d4d;
    font-family: 'Open Sans', sans-serif;
    }
#aboutText ul {
    list-style-type: circle;
    padding: 0;
    list-style-position: inside;
    ext-indent: -2em; position: relative; left: 2em; margin-right: 2em;
    }
#aboutUsText {
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 18px;
    color: #534d4d;
    font-family: 'Open Sans', sans-serif;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node {
  font: 12px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
